<!DOCTYPE html>
<html>
    {% load settings %}
    <head>
        <title>Bergen Pokémonliga</title>
        <link rel="stylesheet" href="{% settings_value "STATIC_URL" %}css/main.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="{% settings_value "STATIC_URL" %}js/main.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% include "backend/__header.html" %}
        <div id="wrapper">
            {% include "backend/__menu.html" %}
            <div id="inner-body">
                {% if errors %}
                <ul id="errors">
                {% for error in errors %}
                {{ error }}<br />
                {% endfor %}
                </ul>
                {% endif %}
                {% if messages %}
                <ul id="messages">
                {% for message in messages %}
                {{ message }}<br />
                {% endfor %}
                </ul>
                {% endif %}
                {% block body %}
                <h1>Nothing here.</h1>
                {% endblock %}
            </div>
            <div class="clearfloat"></div>
        </div>
    </body>
</html>
