{% extends "backend/base.html" %}

{% block head %}
<style>
    label {
        display: inline-block;
        width: 200px;
    }
</style>
{% endblock %}

{% block body %}
<form action="/change_password" method="post">
    <label for="oldpass">Gammelt passord:</label> <input type="password" name="oldpass" /><br />
    <label for="newpass1">Nytt passord:</label> <input type="password" name="newpass1" /><br />
    <label for="newpass2">Nytt passord (igjen):</label> <input type="password" name="newpass2" /><br />
    {% csrf_token %}
    <button value="submit">Send inn</button>
</form>
{% endblock %}