{% extends "backend/base.html" %}

{% load settings %}

{% block head %}
<link rel="stylesheet" href="{% settings_value "STATIC_URL" %}css/view_player.css" />
<script src="{% settings_value "STATIC_URL" %}js/view_player.js"></script>
{% endblock %}

{% block body %}
<div id="trainercard">
    <div id="avatar-container">
        <img src="{{ avatar_url }}" />
    </div>
    <div id="player-info">
        <span id="player-name">{{ name }}</span><br />
        <span id="player-id">#{{ pop_id }}</span>
    </div>
    <div id="player-records">
        <span class="record-line">1. plass:</span> <span id="1st-count" class="record-count">{{ firsts }}</span><br />
        <span class="record-line">2. plass:</span> <span id="2nd-count" class="record-count">{{ seconds }}</span><br />
        <span class="record-line">3. plass:</span> <span id="3rd-count" class="record-count">{{ thirds }}</span><br />
        <span class="record-line">Deltatt:</span> <span id="participation-count" class="record-count">{{ participation_count }}</span><br />
        <a href="/tournaments/{{ pop_id }}">Se turneringer</a>
    </div>
</div>
<div class="clearfloat"></div>
<div id="award-box">
    <div id="tooltip" style="display: none;">
        <span id="tooltip-head">Head</span><br />
        <span id="tooltip-body">Body</span>
    </div>
    <h3>Premieboks:</h3>
    {% for award in awards %}
    <img class="award-image" src="{{ award.image.url }}" data-tooltip-head="{{ award.name }}" data-tooltip-body="{{ award.description }}" />
    {% if forloop.counter|divisibleby:"8" %}
    <br />
    {% endif %}
    {% endfor %}
</div>
{% endblock %}