#trainercard div {
    float: left;
}
    #avatar-container {
        width: 160px;
        height: 160px;
        box-shadow: 0px 0px 8px black;
        background: url("../images/avatarbg.png");
    }
        #avatar-container img {
            width: 160px;
            height: 160px;
        }

    #player-info {
        padding-left: 30px;
        width: 200px;
    }
        #player-name {
            font-size: 1.5em;
        }
        #player-id {
            font-size: 1.2em;
        }

    #player-records {
        padding: 3px;
    }
        #player-records .record-line {
            display: inline-block;
            width: 75px;
            padding-bottom: 5px;
        }

        #player-records .record-count {
            display: inline-block;
            padding-bottom: 5px;
        }

#award-box {
    margin-top: 30px;
    width: 800px;
}
    .award-image {
        width: 32px;
        height: 32px;
        margin: 0 20px 20px 0;
    }

    #tooltip {
        background: #444;
        border: 1px solid black;
        border-radius: 3px;
        color: white;
        padding: 3px;
        position: absolute;
    }
        #tooltip-head {
            font-size: 1.2em;
        }
        #tooltip-body {
            font-size: 0.8em;
        }